<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="shortcut icon" href="../public/assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/signup-page.css">
</head>
<body>
    <div class="main-container">
        <form>
            <p>Chatify</p>
            <label for=""></label>
            <span class="error-txt"></span>
            <input id="input-fullName" type="text" placeholder="full name"></input>
            <label for=""></label>
            <span class="error-txt"></span>
            <input id="input-username" type="text" placeholder="username"></input>
            <label for=""></label>
            <span class="error-txt"></span>
            <input id="input-password" type="password" placeholder="password"></input>
            <label for=""></label>
            <span class="error-txt"></span>
            <input id="input-retypePassword" type="password" placeholder="re-type password"></input>
            <button id="signupBtn">Signup</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/scripts/jquery.js"></script>
    <script src="../public/scripts/signup-script.js"></script>
</body>
</html>